<table class="table table-bordered">
        <tr>
            <th>Фото</th>
            <th>Наименование</th> 
            <th>Категория </th>
            <th>Тип продукта </th>
            <th>Описание </th>
            <th>Редактирование </th>
        </tr>


        {% for product in products%}

        <tr>
            <td>
                {% if product.image %}
                    <img class="img-thumbnail"  src="{{ product.image.url }} " alt="" width="150" height="150">
                {% else %}
                    <img class="img-thumbnail"  src="/static/productsapp/img/default_image.jpg" alt="" width="150" height="150">
                {% endif %}
            </td>
            <td>{{ product.name }}</td> 
            <td>{{product.category}}</td>
            <td>{{product.product_type}}</td>
            <td>{{product.description}}</td>
            <td><a class="btn btn-default" href="{% url 'productsapp:edit-product' product.id %}">Редактировать</a></td>
        </tr>


        {% endfor %}

    </table>