{% extends 'productsapp/base.html' %}

{% block meta_title %}Category{% endblock meta_title%}

{% block heading %}Типы продуктов{% endblock heading %}

{% block button %} 
  <a href="{% url 'productsapp:add-product-type' %}" class="btn btn-danger btn-sm" role="button">Добавить</a>
{% endblock button %}

{% block content  %}

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Название категории</th>
  </tr>

    {% for type in types %}

      <tr>
        <td>{{type.id}}</td>
        <td>{{type.name}}</td>
      </tr>

    {% endfor %}

</table>

{% endblock content %}
